/*-----------------------------*/
/* BASE LIST definition        */

ul.accordion-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  /* counter-reset: question; */
}

ul.accordion-wrapper > li {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* counter-increment: question; */
  cursor: pointer;
}


/*-----------------------------*/
/* UNSELECTED ITEM             */

/* Unselected item text  */
ul.accordion-wrapper > li > p:first-of-type {
  position: relative;
  margin: 0;
  padding: 3px 10px 3px 10px;
  font-size: 12px;
  font-weight: normal;
  border-top: 1px solid rgba(0, 0, 0, 0.0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0);
  border-left: 1px solid rgba(0, 0, 0, 0.0);
  border-right: 1px solid rgba(0, 0, 0, 0.0);
  /*border: 1px solid #ffaf1a;*/
}

/* Unselected item separator line */
ul.accordion-wrapper > li {
  border-top: 1px transparent rgba(0, 0, 0, 0.0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0);
  border-left: 1px solid rgba(0, 0, 0, 0.0);
  border-right: 1px solid rgba(0, 0, 0, 0.0);
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
}

/* Hovered over unselected item text area */
ul.accordion-wrapper > li:hover > p:first-of-type {
  background-color: #ffedcc;
  border: 1px solid #ffaf1a;
}




/*-----------------------------*/
/* SELECTED (ACTIVE) ITEM      */


/* Selected item text now active and displayed */
ul.accordion-wrapper > li.active > p:first-of-type {
  background-color: #D4DDE9;
  padding: 3px 10px 3px 8px;
  font-size: 12px;
  font-weight: bold;
}

/* Hover Selected item text now active and displayed */
/* ul.accordion-wrapper > li.active:hover > p:first-of-type {
  background-color: #ffedcc;
  padding: 5px 10px 10px 10px;
  font-weight: bold;
} */

/* Selected item display area */
ul.accordion-wrapper > li > .accordion-content-container {
  display: block;
  font-size: 12px;
  color: black;
  padding: 3px 10px 3px 15px;
  background: white;
  cursor: default;
  overflow: hidden;
}


/* Up solid arrow above active box pointing to item */
/*ul.accordion-wrapper > li.active > p:first-of-type::after {
  content: "";
  position: absolute;
  top: calc(100% - 10px);
  left: 40px;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border: 10px solid white;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}*/



/*-----------------------------*/
/* CLASS DEFINITIONS           */

/* Selected item display area  */
.accordion {
  background: transparent;
}

/* Active selected item display area */
.accordion.active {
  border: 2px solid #406495;
  margin: 0px 0px 15px 0px;
}

/* Selected item dropdown area */
.accordion .accordion-content-container {
  display: none !important;
}

/* Active selected item dropdown area */
.accordion.active .accordion-content-container {
  display: block !important;
}


/*------------------------------*/
/* RIGHT SIDE ARROW DEFINITIONS */

/* The Box with the Arrow at the end of the line */
.arrow {
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin: -2px 0px 0px 11px;
  border: 1px solid black;
  transition: transform 0.4s ease; /* Smooth rotation */
}

/* Insert the Black Right-Pointing Triangle */
.arrow::after {
  content: '\25BA'; 
  font-size: 12px;
  font-style: normal;
  display: inline-block;
}

/* Arrow On right side Off item line (>) */
.right{}

/* Arrow On right side Off item line (v) */
.down {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
