ul.accordion-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  /* counter-reset: question; */
}

ul.accordion-wrapper > li {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* counter-increment: question; */
  cursor: pointer;
}

/* Hovered over item text area */
ul.accordion-wrapper > li:hover {
  color: red;
  /*background: #F6F9FB;*/
  background-color: #ffedcc;
  /* font-weight: bold; */
}

/* Item text  */
ul.accordion-wrapper > li > p:first-of-type {
  position: relative;
  margin: 0;
  padding: 5px 10px 10px 10px;
  font-weight: normal;
  /*padding: 10px 20px;
  font-weight: bold;*/
}

/* Selected item text now active and displayed */
ul.accordion-wrapper > li.active > p:first-of-type {
  background-color: #D4DDE9;
  padding: 5px 10px 10px 15px;
  font-weight: bold;
  /*padding: 10px 20px 20px 20px;*/
}

/* Hovered over item text area */
ul.accordion-wrapper > li.active:hover {
  color: black;
  background-color: red;
  /*font-weight: bold; */
}

/* Up solid arrow above active box pointing to item */
/*ul.accordion-wrapper > li.active > p:first-of-type::after {
  content: "";
  position: absolute;
  top: calc(100% - 10px);
  left: 40px;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border: 10px solid white;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}*/

/* Selected item display area */
ul.accordion-wrapper > li > .accordion-content-container {
  display: block;
  color: black;
  /*margin: 5px 10px 10px 10px;*/
  padding: 10px 10px 10px 10px;
  background: white;
  cursor: default;
  overflow: hidden;
}

/* Unselected item separator line */
ul.accordion-wrapper > li:not(:first-of-type) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Selected item display area  */
.accordion {
  /*background: whitesmoke;*/
  background: transparent;
}

/* Active selected item display area */
.accordion.active {
  /* background: #F6F9FB; */
  border-top: 1px solid #406495;
  border-bottom: 1px solid #406495;
  border-left: 2px solid #406495;
}

/* Selected item dropdown area */
.accordion .accordion-content-container {
  display: none !important;
}

/* Active selected item dropdown area */
.accordion.active .accordion-content-container {
  display: block !important;
}

/* Arrow On right side Off item line */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  float:right;
  margin-top: 1.25%;
}

/* Arrow On right side Off item line (>) */
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Arrow On right side Off item line (v) */
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}