/*-----------------------------*/
/* BASE LIST definition        */

ul.accordion-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  /* counter-reset: question; */
}

ul.accordion-wrapper > li {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* counter-increment: question; */
  cursor: pointer;
}


/*-----------------------------*/
/* UNSELECTED ITEM             */

/* Unselected item text  */
ul.accordion-wrapper > li > p:first-of-type {
  position: relative;
  margin: 0;
  padding: 5px 10px 8px 10px;
  font-weight: normal;
  /*border: 1px solid #ffaf1a;*/
}

/* Hovered over unselected item text area */
ul.accordion-wrapper > li:hover > p:first-of-type {
  background-color: #ffedcc;
  /*border: 1px solid #ffaf1a;*/
}

/* Unselected item separator line */
ul.accordion-wrapper > li {
  /*border-left: 1px transparent rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  border: 1px solid rgba(0, 0, 0, 0.1);
}


/*-----------------------------*/
/* SELECTED (ACTIVE) ITEM      */


/* Selected item text now active and displayed */
ul.accordion-wrapper > li.active > p:first-of-type {
  background-color: #D4DDE9;
  padding: 5px 10px 8px 10px;
  font-weight: bold;
}

/* Hover Selected item text now active and displayed */
/* ul.accordion-wrapper > li.active:hover > p:first-of-type {
  background-color: #ffedcc;
  padding: 5px 10px 10px 10px;
  font-weight: bold;
} */

/* Selected item display area */
ul.accordion-wrapper > li > .accordion-content-container {
  display: block;
  color: black;
  padding: 10px 10px 10px 15px;
  background: white;
  cursor: default;
  overflow: hidden;
}


/* Up solid arrow above active box pointing to item */
/*ul.accordion-wrapper > li.active > p:first-of-type::after {
  content: "";
  position: absolute;
  top: calc(100% - 10px);
  left: 40px;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border: 10px solid white;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}*/



/*-----------------------------*/
/* CLASS DEFINITIONS           */

/* Selected item display area  */
.accordion {
  background: transparent;
}

/* Active selected item display area */
.accordion.active {
  border: 2px solid #406495;
  margin: 0px 0px 15px 0px;
}

/* Selected item dropdown area */
.accordion .accordion-content-container {
  display: none !important;
}

/* Active selected item dropdown area */
.accordion.active .accordion-content-container {
  display: block !important;
}


/*------------------------------*/
/* RIGHT SIDE ARROW DEFINITIONS */

/* Arrow On right side Off item line */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  float:right;
  margin-top: 1%;
}

/* Arrow On right side Off item line (>) */
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Arrow On right side Off item line (v) */
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}